@{
    ViewBag.Title = "Search results";
}
<div class="jumbotron">
    <h3>Search results</h3>
</div>

@model IEnumerable<AuthApp.Models.ViewModels.SearchResultViewModel>
<div class = "results-count">@Model.Count() result(s) found.</div>
@if (Model != null && Model.Count() != 0)
{
     foreach (var searchResult in Model)
     {
        <div class="row search-item">
            <div class="col-xs-4">@searchResult.Title</div>
            <div class="col-xs-8 article-text">@searchResult.Text</div>
        </div>
     }
}