@model AuthApp.Models.ViewModels.SearchResultViewModel

@{
    ViewBag.Title = "Search results";
}
<div class="jumbotron">
    <h3>ViewBag.Title</h3>
</div>

<div class = "results-count">@Model.TotalCount result(s) found.</div>
@if (Model.Hints != null && Model.Hints.Count() != 0)
{
     foreach (var searchResult in Model.Hints)
     {
        <div class="row search-item">
            <div class="col-xs-4">@searchResult.Title</div>
            <div class="col-xs-8 article-text">@searchResult.Text</div>
        </div>
     }
}