@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Narnia, WA 23<br />
    <abbr title="Phone">P:</abbr>
    +375 29 891 33 13
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:maria.puchkova@gmail.com">maria.puchkova@gmail.com</a>
</address>